*~
*.aux
*.log
*.out
*.pdf
*.gz
*.DS_Store
akka-stuff/first-project/target/classes/
akka-stuff/first-project/target/test-classes/
akka-stuff/first-project/target/maven-status
akka-stuff/first-project/.idea/workspace.xml
